.DockBar {
    z-index: 0;
    position: absolute;
    bottom: -50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.3s;
    padding: 5px;
}
.DockBar:hover {
    bottom: 0;
}

.DockItem {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    background: #61dafb;
    border-radius: 3px;
    margin: 5px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.DockItem > span {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.DockItem:hover {
    background: yellow;
}
.SplitItem {
    width: 1px;
    height: 40px;
    background: #61dafb;
    margin: 5px 5px;
}

.dot {
    position: absolute;
    bottom: 3px;
    width: 20%;
    height: 3px;
    background: red;
}
.dot.active {
    width: 80%;
}
