html, body, .App{
  margin: 0; padding: 0; width: 100%; height: 100%;
}
div {
  display: inline-block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-draggable {
  box-sizing: border-box;
  position: absolute;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle { position: absolute; }
.react-resizable-handle-n { top: -4px; right: 0px; bottom: initial; left: 0px; height: 4px; cursor: n-resize; }
.react-resizable-handle-e { top: 0px; right: -4px; bottom: 0px; left: initial; width: 4px; cursor: e-resize; }
.react-resizable-handle-s { top: initial; right: 0px; bottom: -4px; left: 0px; height: 4px; cursor: s-resize; }
.react-resizable-handle-w { top: 0px; right: initial; bottom: 0px; left: -4px; width: 4px; cursor: w-resize; }
.react-resizable-handle-nw { top: -4px; right: initial; bottom: initial; left: -4px; height: 4px; width: 4px; cursor: nw-resize; }
.react-resizable-handle-ne { top: -4px; right: -4px; bottom: initial; left: initial; height: 4px; width: 4px; cursor: ne-resize; }
.react-resizable-handle-sw { top: initial; right: initial; bottom: -4px; left: -4px; height: 4px; width: 4px; cursor: sw-resize; }
.react-resizable-handle-se { top: initial; right: -4px; bottom: -4px; left: initial; height: 4px; width: 4px; cursor: se-resize; }

/*

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
*/